@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

:root {
  --color-1: #ffb300;
  --color-2: #ff8800;
  --color-3: #f5061d;
  --color-4: #333333;
  --color-5: #fff;
  --color-6: #23b315;

  scroll-behavior: smooth;
  font-family: "Silkscreen", cursive;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: var(--color-1);
  display: flex;
  flex-flow: column;
  align-items: center;
}

/* alerts */
.sectionCont {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 2rem;
  text-align: center;
  height: 70vh;
}
.alertCont {
  font-weight: bold;
  border-radius: 0.3rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  border: 2px solid var(--color-5);
  color: var(--color-4);
}
#error {
  background-color: var(--color-2);
}
#defeat {
  background-color: var(--color-3);
  color: var(--color-5);
}
#victory {
  background-color: var(--color-6);
  color: var(--color-5);
}

/* tela do jogo */
#cont-game {
  background-image: url("../assets/icons/bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 3px solid var(--color-4);
  border-radius: 0.3rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem;
  width: 410px;
  max-width: 500px;
}

/* cabeçalho do jogo */
#header-game {
  background-color: var(--color-4);
  border: 2px solid var(--color-4);
  border-radius: 0.3rem;
  box-shadow: 5px 5px 0px 0px var(--color-2);
  color: var(--color-2);
  display: flex;
  flex-flow: column;
  gap: 1rem;
  padding: 0.5rem 1rem;
  margin: 1rem 0 0;
  line-height: 2rem;
  text-align: center;
  width: 185px;
}

/* main game */
#main-game {
  text-align: center;
}

/* imagem */
.hangman-container {
  border-radius: 0.3rem;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(10px 5px 7px var(--color-4));
}
.forcaImg {
  height: 15rem;
}

/* teclado */
#keyboard {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 1rem 0;
  gap: 0.6rem;
}
.key {
  background-color: var(--color-2);
  border: 2px solid var(--color-4);
  border-radius: 0.2rem;
  cursor: pointer;
  padding: 0.4rem 0.6rem;
  transition: all 300ms ease-in;
  font-weight: bolder;
  z-index: 2;
}
.key:disabled {
  opacity: 0.5;
  border: 2px solid var(--color-5);
  color: var(--color-5);
}
.key:hover {
  background-color: var(--color-1);
  transform: scale(1.1);
}
/* tentativas */
#attempts {
  background-color: var(--color-5);
  border: 2px solid var(--color-4);
  border-radius: 0.3rem;
  padding: 1rem;
}
/* palavra secreta */
.word-container {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;
}
#word {
  background-color: var(--color-4);
  border: 0.2rem solid var(--color-4);
  border-radius: 0.3rem;
  color: var(--color-5);
  text-align: center;
  padding: 0.5rem;
  font-size: 1.2rem;
}

/* reiniciar jogo */
#restartButton {
  background-color: var(--color-4);
  border: 2px solid var(--color-4);
  border-radius: 0.3rem;
  box-shadow: 4px 4px 0px 0px var(--color-2);
  color: var(--color-2);
  cursor: pointer;
  line-height: 1;
  font-size: 16px;
  width: 90px;
  height: 35px;
  font-weight: bold;
  text-align: center;
  transition: all 0.3s ease-in-out;
  margin: 0 0 1rem;
}
#restartButton:hover {
  box-shadow: 0 0 var(--color-4);
  color: var(--color-5);
}
#footer-game {
  width: 100vw;
  margin: 0 0 1.5rem;
}
#footer-game > p {
  background-color: var(--color-4);
  color: var(--color-5);
  display: flex;
  flex-flow: row wrap;
  font-size: 13px;
  justify-content: center;
  margin: 1rem 0 0;
  padding: 0.2rem 0.5rem;
}

#footer-game > p > a {
  color: var(--color-2);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
#footer-game > p > a:hover {
  color: var(--color-5);
}

@media (max-width: 440px) {
  #cont-game {
    width: 90%;
    padding: 0.5rem;
  }
  #attempts {
    padding: 0.3rem 1rem;
    width: 80%;
  }
  #keyboard {
    padding: 1rem;
  }
}
